{% extends "layouts/index.html" %}

{% block title %}GRAIN - Dashboard{% endblock %}

{% block body %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for item in items %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ url_for('page.serve_image', filename=item.name) }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="..." />
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-2">
              <img src="https://assets.webpixels.io/img/memoji/memoji-10.svg" alt="..." width="32" height="32" />
            </div>
            <div>
              <strong class="text-heading">You</strong>
              <span class="text-muted text-xs d-block">{{ item.last_modified.strftime('%Y-%m-%d %H:%M') }}</span>
            </div>
          </div>
          {% if item.text %}
            <p class="card-text">{{ item.text }}</p>
          {% else %}
            <p class="card-text text-muted">No clinical notes</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
