{% extends "layouts/index.html" %}

{% block title %}GRAIN - Upload{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="mb-4 col-5">
    <form method="POST" action="{{ url_for('page.upload') }}" enctype="multipart/form-data" class="card p-3">
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="image" id="image" class="form-control" accept="image/*" required>
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Clinical notes</label>
        <textarea name="text" id="text" class="form-control" placeholder="Enter clinical notes here"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div>

{% endblock %}